.header-main {
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  z-index: 50;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 23px;

    li {
      a {
        display: block;
        width: max-content;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;

        color: $text-color;
      }
    }
  }
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  @media screen and (max-width: 976px) {
    display: none;
  }

  &-lang {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    color: $text-color;
  }

  &-link {
    a {
      clip-path: polygon(6% 0, 100% 0, 100% 85%, 94% 100%, 0 100%, 0 16%);

      display: inline-flex;
      align-items: center;
      justify-content: center;

      background: #fff;
      span {
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        padding: 16px 26px;

        color: $decr-color;
      }
    }
  }
}

.menu-item {
  display: inline-block;
  position: relative;
  z-index: 50;
}

.menu-item a {
  color: #fff;
  display: block;
}

.drop-menu {
  display: none;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #fff;
  width: 61px;
  height: 74px;
  border: 1px solid #ebf4ed;
  border-radius: 6px;

  z-index: 50;

  left: -13px;
}

.menu-item {
  a {
    padding-top: 11px;
    padding-bottom: 11px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.drop-menu-item {
  width: 100%;
}

.drop-menu-item:hover {
  background-color: #ebf4ed;
}

.menu-item:hover .drop-menu {
  display: flex;
}

.menu-item {
  ul {
    li {
      a {
        padding: 5px 0;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;

        color: $decr-color;
        text-align: center;
      }
    }
  }
}

.menu-item-activity {
  display: inline-block;
  position: relative;
  z-index: 50;
}

.menu-item-activity a {
  color: #fff;
  display: block;
}

.drop-menu-activity {
  display: none;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #fff;
  width: 183px !important;
  height: 176px !important;
  border: 1px solid #ebf4ed;
  border-radius: 6px;

  z-index: 50;

  left: 0px !important;
}

.menu-item-activity {
  a {
    padding-top: 11px;
    padding-bottom: 11px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.drop-menu-item-activity {
  width: 100%;
}

.drop-menu-item-activity:hover {
  background-color: #ebf4ed;
}

.menu-item-activity:hover .drop-menu-activity {
  display: flex !important;
}

.menu-item-activity {
  ul {
    li {
      a {
        padding: 5px 0;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;

        color: $decr-color;
        text-align: center;
      }
    }
  }
}

.header__nav {
  .menu-wrap-activity {
    .menu-item-activity {
      .drop-menu-activity {
        text-align: inherit;
        padding-top: 10px;
        padding-bottom: 10px;
        overflow: hidden;
        overflow-y: auto;
        gap: 0;

        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        background-color: #fff;

        border: 1px solid #ebf4ed;
        border-radius: 6px;

        z-index: 50;

        left: -13px;

        &::-webkit-scrollbar {
          width: 2px;
          padding-right: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background: #81b18c;
          border-radius: 4px;
          padding-right: 5px;
        }

        li {
          a {
            padding-left: 20px;
          }
        }
      }
    }
  }
}

.menu-item-activity {
  a {
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}

.header__nav {
  @media screen and (max-width: 976px) {
    display: none;
  }
}

.header__burger {
  display: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background: #fff;
  padding: 10px 13px;

  @media screen and (max-width: 976px) {
    display: flex;
  }

  .burger-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    color: $decr-color;
  }

  .burger-img {
    width: 20px;
    height: 20px;

    img {
      width: 100%;
    }
  }
}

.mobile-menu {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #ebf4ed;
  z-index: 1000;
  transform: translateY(-100%);
  transition: 0.3s linear;

  &__content {
    max-width: 1016px;
    padding: 20px;
    margin: 0 auto;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;

      &__close {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #1d7e33;
        padding: 15px;

        img {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}

.mobile-menu__content-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 30px;

    li {
      a {
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;

        color: $decr-color;
      }
    }
  }
}

.accordion {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;

  color: $decr-color;

  span {
    width: 18px;
    height: 18px;

    img {
      width: 100%;
    }
  }
}

.accordionDrop {
  ul {
    padding-left: 20px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    li {
      a {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;

        color: $decr-color;
      }
    }
  }
}

.custom-select {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.select-options {
  display: none;

  li {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    color: $decr-color;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.select-header {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  .select-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: $decr-color;
  }

  span {
    width: 18px;
    height: 18px;

    img {
      width: 100%;
    }
  }
}

.select-options .selected {
  background-color: white;
  padding: 10px;
}

.select-options .selected:hover {
  background-color: white;
}

.mobile-menu__content-btn {
  /* clip-path: polygon(
    100% 77.22%,
    97.77% 100%,
    0% 100%,
    0% 26%,
    1.95% 0%,
    100% 0%
  ); */
  overflow: hidden;

  a {
    display: block;
    width: 100%;
    padding: 15px 0;
    background: #1d7e33;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 100%;
      background: #ebf4ed;
      top: -70%;
      left: 0%;
      transform: rotate(45deg);
      //border: 1px solid #1d7e33;
      transition: 0.2s linear;
    }

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 100%;
      background: #ebf4ed;
      bottom: -70%;
      right: 0%;
      transform: rotate(45deg);
      //border: 1px solid #1d7e33;
      transition: 0.2s linear;
    }

    span {
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;

      color: #fff;
    }
  }
}
