<header class="header" id="header">
  <div class="container header-wrap">
    <a href="/">
      <img src="./img/newGreen-logo.svg" alt="Enveco" />
    </a>

    <nav class="header__nav-main">
      <ul>
        <div class="menu-wrap-activity">
          <ul class="menu-activity">
            <li class="menu-item-activity">
              <a href="pageActivity.html"
                >Напрями діяльності
                <!-- <span>
                  <img src="./img/mobile-drop.svg" alt="" />
                </span> -->
              </a>
              <!-- <ul class="drop-menu-activity">
                <li class="drop-menu-item-activity">
                  <a href="#">Біоенергетика</a>
                </li>
                <li class="drop-menu-item-activity">
                  <a href="#">Вітроенергетика</a>
                </li>
                <li class="drop-menu-item-activity">
                  <a href="#">Сонячна енергія</a>
                </li>
                <li class="drop-menu-item-activity">
                  <a href="#">Гідроенергетика</a>
                </li>
                <li class="drop-menu-item-activity">
                  <a href="#">Консультування</a>
                </li>
                <li class="drop-menu-item-activity">
                  <a href="#">Біоенергетика</a>
                </li>
                <li class="drop-menu-item-activity">
                  <a href="#">Вітроенергетика</a>
                </li>
                <li class="drop-menu-item-activity">
                  <a href="#">Сонячна енергія</a>
                </li>
                <li class="drop-menu-item-activity">
                  <a href="#">Гідроенергетика</a>
                </li>
                <li class="drop-menu-item-activity">
                  <a href="#">Консультування</a>
                </li>
              </ul> -->
            </li>
          </ul>
        </div>

        <li>
          <a title="Проєкти" href="./pageProjects.html"> Проєкти </a>
        </li>

        <li>
          <a title="Команда" href="pageTeam.html"> Команда </a>
        </li>

        <li>
          <a id="contact" title="Контакти" href="#footer"> Контакти </a>
        </li>
      </ul>
    </nav>

    <div class="header__btn">
      <div class="header__btn-lang">
        <div class="menu-wrap__main">
          <ul class="menu">
            <li class="menu-item">
              <a href="#"
                >Ua
                <span>
                  <img src="./img/mobile-drop.svg" alt="" />
                </span>
              </a>
              <ul class="drop-menu">
                <li class="drop-menu-item">
                  <a href="#">Ua</a>
                </li>
                <li class="drop-menu-item">
                  <a href="#">En</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="header__btn-link__main">
        <a title="Зв'язатись з нами" target="_blank" href="#!">
          <span>Зв'язатись з нами</span>
        </a>
      </div>
    </div>

    <div class="header__burger-main">
      <span class="burger-text__main"> Меню </span>

      <span class="burger-img__main">
        <img src="./img/white-burger.svg" alt="Burger" />
      </span>
    </div>
  </div>

  <!-- MOBILE MENU -->
  <div class="mobile-menu">
    <div class="mobile-menu__content">
      <div class="mobile-menu__content-header">
        <a href="/">
          <img src="./img/newGreen-logo.svg" alt="Logo" />
        </a>

        <div class="mobile-menu__content-header__close">
          <img src="./img/close-icon.svg" alt="Close" />
        </div>
      </div>

      <div class="mobile-menu__content-items">
        <div class="mobile-menu__content-list">
          <a href="./pageActivity.html" class="accordion">
            Напрями діяльності

            <!--  <span>
              <img src="./img/mobile-drop.svg" alt="Drop" />
            </span> -->
          </a>
          <!-- <div class="accordionDrop">
            <ul>
              <li>
                <a href="#!">Біоенергетика</a>
              </li>
              <li>
                <a href="#!">Вітроенергетика</a>
              </li>
              <li>
                <a href="#!">Сонячна енергія</a>
              </li>
              <li>
                <a href="#!">Гідроенергетика</a>
              </li>
              <li>
                <a href="#!">Консультування</a>
              </li>
              <li>
                <a href="#!">Екологія</a>
              </li>
              <li>
                <a href="#!">Освіта</a>
              </li>
              <li>
                <a href="#!">Соціальні питання</a>
              </li>

              <li>
                <a href="pageActivity.html"> Всі напрями </a>
              </li>
            </ul>
          </div> -->
        </div>

        <ul>
          <li>
            <a href="./pageProjects.html">Проєкти</a>
          </li>
          <li>
            <a href="pageTeam.html">Команда</a>
          </li>
          <li>
            <a id="contact" href="#footer">Контакти</a>
          </li>
        </ul>
      </div>

      <div class="custom-select">
        <a href="#!" class="select-header">
          <div class="select-text">En</div>

          <span>
            <img src="./img/mobile-drop.svg" alt="Drop" />
          </span>
        </a>
        <ul class="select-options">
          <li class="selected">En</li>
          <li>Ua</li>
        </ul>
      </div>

      <div class="mobile-menu__content-btn">
        <a href="#!">
          <span> Зв’язатись з нами </span>
        </a>
      </div>
    </div>
  </div>
  <!-- MOBILE MENU -->
</header>
