.develop {
  margin-bottom: 150px;
  overflow: hidden;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 0;
    z-index: -1;
    height: 100%;
    width: calc(255px + 40px + (100vw - 1267px) / 2);
    background: #f7f7f7;
    z-index: 5;
  }

  &-container {
    max-width: 1140px;

    margin: 0 auto;
    display: flex;
    position: relative;
  }

  &__title {
    max-width: 254px;
    position: relative;
    z-index: 10;
    h2 {
      width: 100%;
      font-size: 36px;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.02em;

      color: $green-color;
      text-transform: uppercase;
    }
  }
}

.card-slider {
  //overflow: hidden;
  //width: 100%;
  //margin-right: -81px;

  width: calc(100% - 225px);
}

.card-slider__wrapper {
  width: 100%;
}

.card-slider__slide {
  width: 255px !important;
}

.card-slider__item {
  width: 255px !important;
  min-height: 255px;
  //padding: 20px 20px 23px 20px;
  position: relative;
  border: 1px solid #339e25;
  background: $ligth-bg;
  display: flex;
  transition: 0.2s linear;
  background: transparent;
  overflow: hidden;

  clip-path: polygon(
    20px 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%,
    0 20px
  );

  a {
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    padding: 20px 20px 23px 20px;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      transform: rotate(45deg);
      background: #339e25;
      width: 2px;
      height: 100%;
      top: -43.5%;
      left: 0;
    }

    &::before {
      content: "";
      position: absolute;
      transform: rotate(45deg);
      background: #339e25;
      width: 2px;
      height: 100%;
      bottom: -43.5%;
      right: 0;
    }

    h3 {
      max-width: 218px;
      display: flex;
      align-items: end;
      font-size: 22px;
      font-weight: 500;
      line-height: 31px;
      flex: 1;
      margin-top: 0;
      color: $decr-color;
      transition: 0.2s linear;
    }
  }
}

.card-slider__item:hover {
  background: #ebf4ed;
}

.card-slider__item:hover a h3 {
  font-weight: 700;
}

.card-slider__item:hover .cards-arrow {
  transform: rotate(90deg);
}

.cards-arrow {
  max-width: 40px;
  max-height: 40px;
  transition: 0.2s linear;

  svg {
    width: 100%;
    height: 100%;

    path {
      stroke: #1d7e33;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  &::after {
    display: none;
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 56px;
  height: 65px;
  transition: 0.2s linear;

  svg {
    transition: 0.2s linear;
    width: 100%;
    fill: transparent;

    .stroke-border {
      stroke: #81b18c;
    }

    .fill-arrow {
      fill: #191919;
    }
  }
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  svg {
    width: 100%;
    fill: #1d7e33;

    .stroke-border {
      stroke: transparent;
    }

    .fill-arrow {
      fill: #fff;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
}

.card-slider__pagination {
  position: absolute;
  left: 0%;
  top: 50%;
  display: flex;
  gap: 20px;
  max-width: 133px;
  min-height: 65px;
  align-items: center;
  justify-content: center;
}
